
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: instances.ec2.cattle.io
spec:
  group: ec2.cattle.io
  names:
    kind: Instance
    listKind: InstanceList
    plural: instances
    singular: instance
  scope: Namespaced
  validation:
    openAPIV3Schema:
      description: Instance is the Schema for the instances API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: InstanceSpec defines the desired state of Instance
          properties:
            blockDeviceMapping:
              type: string
            credentialSecret:
              type: string
            iamInstanceProfile:
              type: string
            imageID:
              type: string
            instanceType:
              type: string
            keyname:
              type: string
            publicIPAddress:
              type: boolean
            region:
              type: string
            securityGroupIDS:
              items:
                type: string
              type: array
            securityGroups:
              items:
                type: string
              type: array
            subnetID:
              type: string
            tagSpecification:
              items:
                properties:
                  name:
                    type: string
                  value:
                    type: string
                required:
                - name
                - value
                type: object
              type: array
            userData:
              type: string
          required:
          - credentialSecret
          - imageID
          - instanceType
          - publicIPAddress
          - region
          type: object
        status:
          description: InstanceStatus defines the observed state of Instance
          properties:
            instanceID:
              type: string
            privateIP:
              type: string
            publicIP:
              type: string
            status:
              type: string
          required:
          - instanceID
          - privateIP
          - publicIP
          - status
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
